<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumpy Skin Disease || About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Oswald:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <link rel="stylesheet" href="/static/css/tooplate-antique-cafe.css">


    <style>
        .Containers {
            width: 500px;
            border-radius: 20px;
            margin-left: 50px;
            margin-top: 30px;
        }
    </style>
</head>

<body>

    <div class="parallax-window" data-parallax="scroll"
        data-image-src="https://as2.ftcdn.net/v2/jpg/05/30/99/83/1000_F_530998381_qbG8OM7vkhSwvIfJedLUnKZ8jHyqTAmg.jpg">
        <nav id="tm-nav" class="fixed w-full">
            <div class="tm-container mx-auto px-2 md:py-6 text-right">
                <button class="md:hidden py-2 px-2" id="menu-toggle"><i
                        class="fas fa-2x fa-bars tm-text-gold"></i></button>
                <ul class="mb-3 md:mb-0 text-2xl font-normal flex justify-end flex-col md:flex-row">
                    <li class="inline-block mb-4 mx-4"><a href="#intro" class=" py-1 md:py-3 px-4"><b>About
                                Lumpy Skin Disease</b></a>
                    </li>
                    <li class="inline-block mb-4 mx-4"><a href="#menu" class=" py-1 md:py-3 px-4"><b>Methods</b></a>
                    </li>
                    <li class="inline-block mb-4 mx-4"><a href="#about" class=" py-1 md:py-3 px-4"><b>Symptoms</b></a>
                    </li>
                    <li class="inline-block mb-4 mx-4"><a href="#contact" class=" py-1 md:py-3 px-4"><b>Contact</b></a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="Containers">

            <div class="sm:pb-60 sm:pt-48 py-20">
                <div class="bg-black bg-opacity-70 p-12 mb-5 text-center">
                    <h1 class="text-white text-5xl tm-logo-font mb-5">Lumpy Skin Disease</h1>
                    <p class="tm-text-gold tm-text-2xl">Lumpy skin disease is a viral infection that primarily affects cattle, causing fever and the formation of nodules on the skin</p>
                </div>

                <div class="text-center">
                    <div class="inline-block">
                        <a href="/"
                            class="flex justify-center items-center bg-black bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition">

                            <span>Let's Go Home</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div id="menu" class="Overview of Lumpy Skin Diseases" data-parallax="scroll"
        data-image-src="https://images.mid-day.com/images/images/2022/sep/Are-we-staring-at_d.jpg">
        <div class="container mx-auto tm-container py-24 sm:py-48">
            <div class="tm-item-container sm:ml-auto sm:mr-12 mx-auto sm:px-0 px-4">
                <div class="bg-white bg-opacity-80 p-18 pb-14 rounded-xl mb-5">
                    <h2 class="mb-6 tm-text-green text-4xl font-medium">Overview of Lumpy Skin Diseases</h2>
                    <p class="mb-6 text-base leading-8">
                        Diseases in cows are an influential point for human concern. There are some diseases in animals identified in the early phases that can be diagnosed and cured in the early phases of the disease itself. The effect of lumpy skin disease can cause large capital losses in the farm animal industry if it is not taken care of properly. The main reason for this disease is the lumpy skin virus, and this virus is a part of the Poxviridae family. The major symptom of lumpy skin disease is the Neethling strain, and other symptoms are a few mild forms of circumscribed skin nodules. These symptoms also include mucous membranes of internal organs like respiratory organs and reproductive organs. By the infection of such disease, animals like cattle get their skin permanently damaged.
                    </p>
                    </p>

                </div>
                <a href="#contact"
                    class="inline-block tm-bg-green transition text-white text-xl pt-3 pb-4 px-8 rounded-md"
                    style="margin-left: -300px;">
                    <i class="far fa-comments mr-4"></i>
                    Contact
                </a>
            </div>
        </div>
    </div>

    <div id="menu" class="Overview of Lumpy Skin Diseases" data-parallax="scroll"
    data-image-src="https://t3.ftcdn.net/jpg/05/30/99/82/360_F_530998234_l4FiQj6K5LaKXgTCt9DlSsT2vR6PXrsb.jpg">
    <div class="container mx-auto tm-container py-24 sm:py-48">
        <div class="tm-item-container sm:ml-auto sm:mr-12 mx-auto sm:px-0 px-4">
            <div class="bg-white bg-opacity-80 p-18 pb-14 rounded-xl mb-5">
                <h2 class="mb-6 tm-text-green text-4xl font-medium">Preventions of Lumpy Skin Diseases</h2>
                <p class="mb-6 text-base leading-8">
                    One way to prevent the spread of the lumpy virus is to get your animals tested as soon as you see these symptoms. Apart from this, you should separate other cattle from your infected cattle. Along with this, there are a few prevention tips to stop the spread of the disease. Such as: <br>
1	Vaccination <br>
2	Medications and other management strategies. <br>
Apart from this, people should keep taking advice from the concerned authorities and veterinarians. Along with this, you should keep a strict watch on your other animals and avoid consuming the milk of these animals during this time. Unfortunately, there is no specific antiviral treatment for lumpy cow skin disease. To treat lumpy virus symptoms, animals are provided with wound care sprays, painkillers and antibiotics. 

                </p>
                </p>

            </div>
            <a href="#contact"
                class="inline-block tm-bg-green transition text-white text-xl pt-3 pb-4 px-8 rounded-md"
                style="margin-left: -300px;">
                <i class="far fa-comments mr-4"></i>
                Contact
            </a>
        </div>
    </div>
</div>

    <div id="about" class="parallax-window" data-parallax="scroll"
        data-image-src="https://cdn.siasat.com/wp-content/uploads/2022/07/rajasthan-cattle.jpg">
        <div class="container mx-auto tm-container py-24 sm:py-48">
            <div class="tm-item-container sm:ml-auto sm:mr-12 mx-auto sm:px-0 px-4">
                <div class="bg-white bg-opacity-80 p-18 pb-14 rounded-xl mb-5">
                    <h2 class="mb-6 tm-text-green text-4xl font-medium">Symptoms of Lumpy Skin disease</h2>
                    <ul class="mb-6 text-base leading-8">
                        <li>1. Fever: Infected cattle may exhibit signs of fever, including increased body temperature.</li><br>
                        <li>2. Nodules or lumps on the skin: One of the hallmark signs of LSD is the development of nodules </li><br>
                        <li>3. Swelling of the lymph nodes: LSD can cause particularly those near the affected areas of the skin.</li><br>
                        <li>4. Discharge from the eyes and nose: Infected animals may have discharge from their eyes and nose, which can be watery      or pus-like.
                        </li><br>
                        <li>5. Reduced milk production: Cattle with LSD may experience a decrease in milk production, which can have economic implications for dairy farmers.</li><br>
                        <li>6. Loss of appetite: Infected animals may show a decreased interest in eating, leading to weight loss and poor condition.</li><br>
                        <li>7. Weakness and lethargy: LSD can cause cattle to become weak and lethargic, affecting their ability to move and feed normally.</li><br>
                        <li>8. Lameness or reluctance to move: Some infected animals may show signs of lameness or reluctance to move due to the discomfort caused by the nodules.</li>
                        <br>
                        <li>9. Rough and dry hair coat: The skin around the nodules may become rough and dry, affecting the animal's overall appearance.   </li><br>
                        <li>Secondary bacterial infections: The skin lesions caused by LSD can be prone to secondary bacterial infections, which can worsen the animal's condition.</li><br>
                    </ul>
                </div>
                <a href="#contact"
                    class="inline-block tm-bg-green transition text-white text-xl pt-3 pb-4 px-8 rounded-md"
                    style="margin-left: -300px;">
                    <i class="far fa-comments mr-4"></i>
                    Contact
                </a>
            </div>
        </div>
    </div>
    <div id="contact" class="parallax-window relative" data-parallax="scroll"
        data-image-src="https://miro.medium.com/v2/resize:fit:1400/0*DuLnP3Hg47N0qurw">
        <div class="container mx-auto tm-container pt-24 pb-48 sm:py-48">
            <div class="flex flex-col lg:flex-row justify-around items-center lg:items-stretch">
                <div class="flex-1 rounded-xl px-10 py-12 m-5 bg-white bg-opacity-80 tm-item-container">
                    <h2 class="text-3xl mb-6 tm-text-green">Contact Us</h2>
                    <p class="mb-6 text-lg leading-8">
                        Access experts or specialists for guidance on diagnosing, managing, and preventing Lumpy Skin
                        diseases.
                    </p>
                    <p class="mb-10 text-lg">
                        <span class="block mb-2">Tel : </a>124578963</span>
                        <span class="block">Email  :    
                              </a>example@gmail.com</span>
                    </p>
                    <div class="text-center">
                        <a href="https://www.google.com/maps"
                            class="inline-block text-white text-2xl pl-10 pr-12 py-6 rounded-lg transition tm-bg-green">
                            <i class="fas fa-map-marked-alt mr-8"></i>
                            Open Maps
                        </a>
                    </div>
                </div>
                <div class="flex-1 rounded-xl p-12 pb-14 m-5 bg-black1 bg-opacity-50 tm-item-container">
                    <form action="" method="POST" class="text-lg" id="myForm">
                        <input type="text" name="name"
                            class="input w-full bg-black1 border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold"
                            placeholder=" Name" required="" />
                        <input type="email" name="email"
                            class="input w-full bg-black1 border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold"
                            placeholder=" Email" required="" />
                        <textarea rows="6" name="message"
                            class="input w-full bg-black1 border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold"
                            placeholder=" Message..." required=""></textarea>
                        <div class="text-right">
                            <button type="submit"
                                style="background-color: rgb(245, 248, 245); color:rgb(0, 0, 0); border-radius: 20px; width:90px;">Send
                                it</button>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="absolute bottom-0 left-0 w-full">
                <div class="text-white container mx-auto tm-container p-8 text-lg flex flex-col md:flex-row justify-between"
                    style="color: rgb(0, 0, 0);">
                    <span>Lumpy Disease</span>
                    <span class="mt-5 md:mt-0">NAME :</span>
                </div>
            </footer>
        </div>
    </div>

    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {
            event.preventDefault();
            alert("We received your information");
            this.reset();
        });
    </script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="/static/js/jquery.singlePageNav.min.js"></script>
    <script>

        function checkAndShowHideMenu() {
            if (window.innerWidth < 768) {
                $('#tm-nav ul').addClass('hidden');
            } else {
                $('#tm-nav ul').removeClass('hidden');
            }
        }

        $(function () {
            var tmNav = $('#tm-nav');
            tmNav.singlePageNav();

            checkAndShowHideMenu();
            window.addEventListener('resize', checkAndShowHideMenu);

            $('#menu-toggle').click(function () {
                $('#tm-nav ul').toggleClass('hidden');
            });

            $('#tm-nav ul li').click(function () {
                if (window.innerWidth < 768) {
                    $('#tm-nav ul').addClass('hidden');
                }
            });

            $(document).scroll(function () {
                var distanceFromTop = $(document).scrollTop();

                if (distanceFromTop > 100) {
                    tmNav.addClass('scroll');
                } else {
                    tmNav.removeClass('scroll');
                }
            });

            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>
</body>

</html>