<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Lumpy Skin Disease || Index</title>
    <link rel="icon" type="image/x-icon" href="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link href="../static/css1/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css1/navbar.css">
    <style>
        .footer {
            justify-content: space-between;
            align-items: center;
            background-color: rgba(3, 3, 3, 0.7);
            color: rgb(245, 244, 244);
            padding: 10px;
            text-align: center;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .footercontent {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .footercontent h2 {
            margin-bottom: 5px;
        }
        .footercontent p {
            margin: 0;
        }
    </style>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">
                <span class="fs-2">Lumpy Skin Disease</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                   
                    <nav>
                        <ul class="nav">
                            <li><a href="/about">About</a></li>
                            </li>
                            <li><a href="#">MODELS</a>
                                <ul>
                                    <li><a href="/model1">Model 1: CNN</a></li></a>
                                    </li>
                                    <li><a href="/model2">Model 2: VGG16</a></li>
                                    <li><a href="/model3">Model 3: ResNet </a></li>
                                </ul>
                            </li>

                            <li><a href="/result">RESULTS</a></li>
                        </ul>

                    </nav>
            </div>
    </nav>

    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Defending Livestock, Safeguarding Futures: Disease Prevention for Healthy Cattle</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Lumpy skin disease (LSD) is a viral disease primarily affecting cattle. It is caused by the lumpy skin disease virus (LSDV), a member of the Capripoxvirus genus. LSD is characterized by fever, nodules on the skin, and general discomfort in affected animals.</p>

                    <a class="btn btn-primary btn-xl" href="/login">Let's Predict</a>
                </div>
            </div>
        </div>
    </header>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <script src=""></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <div class="footer">
        <ul class="footercontent">
            <h2>PROJECT DEVELOPED BY: </h2>
            <p>Name : </p>
            <p>USN :</p>
        </ul>
        <hr>
        <ul class="footercontent">
            <h2> UNDER THE GUIDANCE OF:
            </h2>
            <p></p>
        </ul>
    </div>
    <script>
        window.onload = function () {
            document.querySelector('nav').classList.add('slide-in');
        };
    </script>
</body>

</html>